extends layout

block content
  .container
    if(user)
        ul(class="nav nav-tabs")
            li(role="presentation")
                a(href="/") Home
            li(role="presentation")
                a(href="profile") Profile
            li(role="presentation")
             a(href="products" class="active") Products
            li(role="presentation")
                a(href="checkout") checkout
        br
        h2 List of products
        br
        table(class="table")
            tr
                td 
                    strong Title
                td
                    strong Price
                td 
                    strong Stock
                td
            each product in products
                tr
                    td= product.title
                    td= product.price
                    td= product.stock
                    td
                        button(onclick='addToCart("#{product._id}")') add to cart
        
    script(src="scripts/products_page.js")