extends blocks/layout.pug

block content
  h1 Login
  br
  form(id="form__login" class="form" action="/auth/login" method="post" autocomplete="off")
    label(for="username" class="form-label") Nombre de usuario
    input(name="username" type="text" class="form-control mb-3")
    label(for="password" class="form-label") Contraseña
    input(name="password" type="password" class="form-control mb-3")
    button(type="submit" class="btn btn-primary" value="Login") Enviar

  //- script(src="/js/login.js")