<!DOCTYPE html>
<html>
    <%- include('./layouts/head'); -%>
<body>
<h1>Proyecto Final</h1>
<h2>Coderhouse</h2>
<h3>Backend</h3>
<h4>Lautaro Garcia</h4>

    <%- include('./layouts/footer'); -%>
</body>
</html>