<!DOCTYPE html>
<html>
<%- include('./layouts/head'); -%>
<body class="text-center">
        <%- include('./layouts/header'); -%>
        <h1>Proyecto Final</h1>
        <h2>Coderhouse</h2>
        <h3>Backend</h3>
        <h4>Lautaro Garcia</h4>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <%- include('./layouts/footer'); -%>
    </body>

</html>