<!DOCTYPE html>
<html>
<%- include('./layouts/head'); -%>
<body>

<form class="container text-center mt-4 p-5">

    <div class="alert alert-warning" role="alert" id="loginAlert">
        <p style="text-align: center;">Incorrect Credential, please Login to access that page</p>
    </div>

    <h1 class="h3 mb-3 fw-normal">Log In</h1>

    <div class="form-floating">
        <input required type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input required type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
</form>
<%- include('./layouts/footer'); -%>
<script src="/javascripts/login.js"></script>
</body>
</html>