<!DOCTYPE html>
<html>
<%- include('./layouts/head'); -%>
<body>
<form class="container text-center mt-4 p-5">
    <h1 class="h3 mb-3 fw-normal">Register</h1>
    <div class="form-floating">
        <input required type="text" name="name" class="form-control" id="usernameInput" placeholder="lautarojgarcia177">
        <label for="usernameInput">name</label>
    </div>
    <div class="form-floating">
        <input required type="email" name="email" class="form-control" id="emailInput" placeholder="name@example.com">
        <label for="emailInput">Email address</label>
    </div>
    <div class="form-floating">
        <input required type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
</form>
<%- include('./layouts/footer'); -%>
<script src="/javascripts/register.js"></script>
</body>
</html>