<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Partial -->
    <%- include('./partials/head'); -%>
</head>

<body>
    <div class="container mt-3">

        <%- include('./partials/listado'); -%>

    </div>

</body>

</html>