<head>
  <meta charset="UTF-8">
  <title>Lautaro Garcia</title>
  <meta name="viewport" contant="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>